body{
	background: linear-gradient(to bottom right, #561139, #38a2d7);
	height: 800px;
}

.imag{
	padding: 3rem;
	text-align: center;

}
h1{
	font-family: "poppins";
	font-size: 45px;
}
.Hed{
	text-align: center;
}
.fx{
	text-align: center;
}
p{
	color: white;
	font-size: 20px;
	font-style: italic;
}

img {
	border-radius: 100%;
	border: 5px solid;
}
